@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');

*{
    font-family: 'Epilogue', sans-serif;
    /* line-height: 29px; */
    letter-spacing: 0em;
    text-align: left;
}
.btn{
    cursor: pointer;
}
.PostJobHeader{
    width: 81vw;
}
.PostJobHeader-2{
    margin: 1.5em 2em;
}
.PostJobHeader-2-upper{
    display: flex;
    margin-bottom: 2%;
}
.PostJobHeader-2-upper-label{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
}
.PostJobHeader-2-stepbox{
    display: flex;
    margin-bottom: 20px;
    border: 1.5px solid #D6DDEB;
    border-left: none;
}
.PostJobHeader-2-stepbox-1{
    width:33%;
    display: flex;
    padding: 12px;
    border-left: 1.5px solid #D6DDEB;
    align-items: center;
    gap: 4%;
}
.imageHolder{
    background-color: #E9EBFD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageHolder-active{
    background-color: #4640DE;
}
.PostJobHeader-2-stepbox-1-right{
    display: flex;
    flex-direction: column;
}
.PostJobHeader-2-stepbox-1-right-upper-label{
    font-size: 14px;
}
.PostJobHeader-2-stepbox-1-right-bottom-label{
    font-size: 16px;
    font-weight: bold;
}