*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.job_listing_container{
    width: 84%;
    overflow-y: scroll;
}
.job_listing_sub_container{
    padding: 2em;
}
.top_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.heading_container{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.heading_container h2{
    font-size: 20px;
    font-weight: bold;
}
.heading_container p{
    color: #7C8493;
    font-size: 14px;
}
.date_container{
    display: flex;
    width: 10em;
    height: 3vw;
    border: 1.5px solid #D6DDEB;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.body_container{
    margin-top: 1em;
}
.head_table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    padding-right: 24px;
    border: 1.5px solid #D6DDEB;
}
.head_table p{
    font-weight: 600;
    font-size: 18px;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}