.applicants_table_container{
    width: 84%;
    overflow-y: scroll;
}
.applicants_table_sub_container{
    padding: 1.5em 2em;
}
.applicants_heading p{
    font-weight: bold;
    padding: 6px;
    width: fit-content;
    border-bottom: 1.5px solid #4640DE;
}
