.PostJobHeader-1  {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #D6DDEB;
}
.PostJobHeader-1-left{
    display: flex;
}
.PostJobHeader-logo{
    margin: 0px 16px;
}
.PostJobHeader-1-companyName{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.PostJobHeader-1-companyName-label{
    font-size: 14px;
    color: #515B6F;
    line-height: normal;
}
.postJobHeader-1-companyName-dropDown{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.postJobHeader-1-companyName-dropDown h4{
    font-size: 18px;
}
.PostJobHeader-1-right{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.PostJobHeader-1-button{
    margin: 0 20px 0 40px;
    color: white;
    background-color: #4640DE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    padding: 8px 6px;
}
.PostJobHeader-1-right-label{
    font-size: medium;
    margin-left: 10px;
    font-family: 'Epilogue', sans-serif;
}
